BasedOnStyle: Google
Language: Cpp

ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

Standard: c++20
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Attach
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
